* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #10375c;
}

.header .container {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo-text {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50px;
  margin-left: 6px;
}

.header .brand-text {
  color: #fff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.77;
}

.header .brand-small {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 0.77;
  margin-top: 5px;
}

/* = */
.navbar {
  margin-left: 304px;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.navbar__link:hover {
  color: #fff;
  transform: scale(1.03);
}

.navbar--action {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  color: #fff;
  transform: scale(1.03);
}

.navbar--action::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.header-action {
  margin-left: auto;
}

.action__login {
  margin-right: 28px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.action__signup {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  background: #2e80ce;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.75;
  cursor: pointer;
}

.action__signup:hover {
  opacity: 0.9;
}

/* Main */
.header__hero {
  background: #10375c;
  padding-bottom: 34px;
}

.header__hero .container {
  padding: 76px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 517px;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  margin-bottom: 53px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row .btn {
  display: inline-block;
  width: 205px;
  --height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: var(--height);
  text-align: center;
}

.hero__row .btn:hover {
  opacity: 0.9;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  margin-left: 38px;
}

.hero__media {
  display: flex;
  align-items: center;
}

.hero__img1 {
  width: 330px;
  height: 540px;
  object-fit: cover;
  z-index: 1;
  border-radius: 6px;
}

.hero__img2 {
  width: 210px;
  height: 410px;
  object-fit: cover;
  margin-left: -6px;
  z-index: 0;
  border-radius: 0 6px 6px 0;
}
